* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f8f9fa;
}

/* TOPO */
.topo {
  background: #000407;
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-voltar {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

/* MENU CARDS */
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: palegreen;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  color: #045aaf;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}