body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f9;
}

/* ===== TOPO ===== */
.topo {
  background: #045aaf;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topo h1 {
  margin: 0;
  font-size: 22px;
}

#bemVindo {
  font-size: 14px;
}

.btn-sair {
  background: white;
  color: #045aaf;
  padding: 8px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-sair:hover {
  background: #dcdcdc;
}

/* ===== MENU ===== */
.menu {
  display: flex;
  flex-direction: column; /* 👈 um embaixo do outro */
  gap: 20px;
  padding: 40px;
  max-width: 400px;
  margin: auto;
}

/* ===== CARDS ===== */
.card {
  background: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  color: #045aaf;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}